site_name: TickTock Documentation
theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.sections
    - navigation.tabs
    - content.code.copy

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Shortcuts: shortcuts.md

plugins:
  - search
